{% extends 'base.html' %}

{% block content %}

<h3>Add country to the list:</h3>

<form action="/countries" method="post">
    <label for="name">Country Name:</label>
    <input type="text" name="name" id="name">
    <label for="visited">Visited:</label>
    <input type="checkbox" name="visited" id="visited">
    <input type="submit" value="Add Country"> 


<h2 id="title">Countries on My Bucket List</h2>

{% for country in all_countries %}
<div class="country">
    <div class="content">
        <p><a href="/countries/{{ country.id }}">{{ country.name }}</a></p>
        <p>
            Visited: 
            {% if country.visited %}
                <span>&#9989</span>
            {% else %}
                <span>&#10060</span>
            {% endif %}
        </p>
        
    </div>

</div>

{% endfor %}

{% endblock %}