{% extends "base.html" %}
{% block content %}

  <div>

    <div>
        <p>{{ country.name }}</p>
        <p>
            Visited: 
            {% if country.visited %}
                <span>&#9989</span>
            {% else %}
                <span>&#10060</span>
            {% endif %}
        </p>
        <p><a href="/countries/{{ country.id }}/edit" >Edit</a></p>
        <p><a href="/countries/{{ country.id }}/delete" >Delete</a></p>
    </div>
    <div>
        <form class="form-inline" action="/cities" method="post">
            <label for="name">City Name:</label>
            <input type="text" name="name" id="name">
            <label for="visited">Visited:</label>
            <input type="checkbox" name="visited" id="visited">
            <input type="submit" value="Add City"> 
        </form>
    </div>
    <div>
        <h2>Cities in {{ country.name }}</h2>
        <div>
            {% for city in country_cities  %}

                <p>{{ city.name }}</p>
                <p>
                    Visited: 
                    {% if city.visited %}
                        <span>&#9989</span>
                    {% else %}
                        <span>&#10060</span>
                    {% endif %}
                </p>
            {% endfor %}
        </div>

    </div>
    
  </div>

{% endblock %}