{% extends 'base.html' %}

{% block content %}

<h2>Countries on My Bucket List</h2>

{% for country in all_countries %}
<div class="country">
    <div class="content">
        <p><a href="/countries/{{ country.id }}">{{ country.name }}</a></p>
        <p>
            Visited: 
            {% if country.visited %}
                <span>&#9989</span>
            {% else %}
                <span>&#10060</span>
            {% endif %}
        </p>
        

        
    </div>

</div>

{% endfor %}

{% endblock %}