{% extends 'base.html' %}
{% block content %}

    <form action="/cities/{{ city.id }}" method="post">
        <label for="name">City Name:</label>
        <input type="text" name="name" id="name" value="{{city.name}}" >
    
        <label for="visited">Visited:</label>
        <select name="visited" id="visited">
            <option value="true" {% if city.visited %} selected {% endif %}>&#9989</option>
            <option value="false" {% if not city.visited %} selected {% endif %}>&#10060</option>
        </select>
        <div>
            <label for="country">Country:</label>
            <select id="country" name="country_id">
              {% for country in all_countries %}
                <option value="{{ country.id }}"
                  {% if city.country.id == country.id %} selected="selected"{% endif %}>
                  {{ country.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        
        <input class="submit" type="submit" value="Update City">  
        
    </form>
    

    
{% endblock content %}
