body {
    font-family: "Merriweather", sans-serif;
    background: url('/static/images/background1.jpg');
    background-size: cover;
    color: rgb(168, 239, 168);
    padding: 0px;
    margin: 0px;
}


body > header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(93, 228, 243, 0.366);
    margin: auto;
    width: 50%;
}

header > nav > ul {
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

nav > ul {
    list-style: none;
}

nav > ul > li > a {
    color: white;
}


#logo {
    margin: auto;
    text-align: center;
    font-family:  "Merriweather", sans-serif;
    font-size: 40px;
    padding-top: 50px;
}

#title {
    margin: auto;
    font-family: "Merriweather", sans-serif;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

#title_cities {
    margin: auto;
    font-family: "Merriweather", sans-serif;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

#cities_in {
    margin: auto;
    font-family: "Merriweather", sans-serif;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

#add_city {
    color:rgb(168, 239, 168);
    font-size: 20px;
    font-weight: bold;
}

#add_country {
    color:rgb(168, 239, 168);
    font-size: 20px;
    font-weight: bold;
}

.submit {
    background-color: rgba(10, 191, 10, 0.785);
    border: 1px solid greenyellow;
    color: white;
}

input[type="submit"] {
    text-transform: uppercase;
    font-family: "Merriweather", sans-serif;
  }

.edit {
    color: white;
}

.delete {
    color: white;
}

.city_name {
    color:aliceblue;
}

.country_name {
    color: aliceblue;
}

.country {
    text-align: center;
    background-color: rgba(210, 255, 127, 0.262);
    margin: auto;
    width: 30%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(23, 195, 89);
}

.cities {
    text-align: center;
    background-color:rgba(210, 255, 127, 0.262);
    margin: auto;
    width: 30%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(23, 195, 89);
}